# UIDAI Aadhaar Data Exploration

### Objective
1. Data Loading and Integration
2. Schema Verification
3. Basic statistics about our data

---

In [14]:
#importing libraries
import pandas as pd
import pandas as pd

import os

import warnings
warnings.filterwarnings('ignore')

print(" Libraries loaded.")

 Libraries loaded.

### Load All Datasets

The project analyzes three primary datasets:
1. **Enrolment Data** - New Aadhaar registrations
2. **Demographic Update Data** - People updating their address, name, DOB
3. **Biometric Update Data** - People updating their fingerprints/iris

In [15]:
# Function to load all CSV files from a folder and combine them
def load_all_csvs(folder_path):
    """
    This function:
    1. Goes to the folder
    2. Finds all CSV files
    3. Loads them one by one
    4. Combines them into one big table
    """
    all_data = []
    all_data = []
    
    # Get list of all files in folder
    for filename in os.listdir(folder_path):
        if filename.endswith('.csv'):  # Only CSV files
            file_path = os.path.join(folder_path, filename)
            df = pd.read_csv(file_path)
            all_data.append(df)
            print(f"   Loaded: {filename} ({len(df):,} rows)")
    
    # Combine all into one table
    combined = pd.concat(all_data, ignore_index=True)
    return combined

print("Function created! Now let's load the data...")

Function created! Now let's load the data...

In [16]:
# Load Enrolment Data
print(" Loading Enrolment data...")
enrolment_df = load_all_csvs('../dataset/api_data_aadhar_enrolment')
print(f"\n Total Enrolment Records: {len(enrolment_df):,}\n")

 Loading Enrolment data...
   Loaded: api_data_aadhar_enrolment_0_500000.csv (500,000 rows)
   Loaded: api_data_aadhar_enrolment_1000000_1006029.csv (6,029 rows)
   Loaded: api_data_aadhar_enrolment_500000_1000000.csv (500,000 rows)

 Total Enrolment Records: 1,006,029

In [17]:
# Load Demographic Update Data
print(" Loading DEMOGRAPHIC UPDATE data...")
demographic_df = load_all_csvs('../dataset/api_data_aadhar_demographic')
print(f"\n Total Demographic Update Records: {len(demographic_df):,}\n")

 Loading DEMOGRAPHIC UPDATE data...
   Loaded: api_data_aadhar_demographic_0_500000.csv (500,000 rows)
   Loaded: api_data_aadhar_demographic_1000000_1500000.csv (500,000 rows)
   Loaded: api_data_aadhar_demographic_1500000_2000000.csv (500,000 rows)
   Loaded: api_data_aadhar_demographic_2000000_2071700.csv (71,700 rows)
   Loaded: api_data_aadhar_demographic_500000_1000000.csv (500,000 rows)

 Total Demographic Update Records: 2,071,700

In [18]:
# Load Biometric Update Data
print(" Loading BIOMETRIC UPDATE data...")
biometric_df = load_all_csvs('../dataset/api_data_aadhar_biometric')
print(f"\n Total Biometric Update Records: {len(biometric_df):,}\n")

 Loading BIOMETRIC UPDATE data...
   Loaded: api_data_aadhar_biometric_0_500000.csv (500,000 rows)
   Loaded: api_data_aadhar_biometric_1000000_1500000.csv (500,000 rows)
   Loaded: api_data_aadhar_biometric_1500000_1861108.csv (361,108 rows)
   Loaded: api_data_aadhar_biometric_500000_1000000.csv (500,000 rows)

 Total Biometric Update Records: 1,861,108

In [19]:
# Look at ENROLMENT data
print("="*60)
print(" ENROLMENT DATA")
print("="*60)
print(f"\n Shape: {enrolment_df.shape[0]:,} rows Ã— {enrolment_df.shape[1]} columns")
print(f"\n Columns: {list(enrolment_df.columns)}")
print("\n First 5 rows:")
enrolment_df.head()

============================================================
 ENROLMENT DATA
============================================================

 Shape: 1,006,029 rows Ã— 7 columns

 Columns: ['date', 'state', 'district', 'pincode', 'age_0_5', 'age_5_17', 'age_18_greater']

 First 5 rows:

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,02-03-2025,Meghalaya,East Khasi Hills,793121,11,61,37
1,09-03-2025,Karnataka,Bengaluru Urban,560043,14,33,39
2,09-03-2025,Uttar Pradesh,Kanpur Nagar,208001,29,82,12
3,09-03-2025,Uttar Pradesh,Aligarh,202133,62,29,15
4,09-03-2025,Karnataka,Bengaluru Urban,560016,14,16,21

In [20]:
# Look at DEMOGRAPHIC UPDATE data
print("="*60)
print(" DEMOGRAPHIC UPDATE DATA")
print("="*60)
print(f"\n Shape: {demographic_df.shape[0]:,} rows Ã— {demographic_df.shape[1]} columns")
print(f"\n Columns: {list(demographic_df.columns)}")
print("\n First 5 rows:")
demographic_df.head()

============================================================
 DEMOGRAPHIC UPDATE DATA
============================================================

 Shape: 2,071,700 rows Ã— 6 columns

 Columns: ['date', 'state', 'district', 'pincode', 'demo_age_5_17', 'demo_age_17_']

 First 5 rows:

,date,state,district,pincode,demo_age_5_17,demo_age_17_
0,01-03-2025,Uttar Pradesh,Gorakhpur,273213,49,529
1,01-03-2025,Andhra Pradesh,Chittoor,517132,22,375
2,01-03-2025,Gujarat,Rajkot,360006,65,765
3,01-03-2025,Andhra Pradesh,Srikakulam,532484,24,314
4,01-03-2025,Rajasthan,Udaipur,313801,45,785

In [21]:
# Look at BIOMETRIC UPDATE data
print("="*60)
print(" BIOMETRIC UPDATE DATA")
print("="*60)
print(f"\n Shape: {biometric_df.shape[0]:,} rows Ã— {biometric_df.shape[1]} columns")
print(f"\n Columns: {list(biometric_df.columns)}")
print("\n First 5 rows:")
biometric_df.head()

============================================================
 BIOMETRIC UPDATE DATA
============================================================

 Shape: 1,861,108 rows Ã— 6 columns

 Columns: ['date', 'state', 'district', 'pincode', 'bio_age_5_17', 'bio_age_17_']

 First 5 rows:

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,01-03-2025,Haryana,Mahendragarh,123029,280,577
1,01-03-2025,Bihar,Madhepura,852121,144,369
2,01-03-2025,Jammu and Kashmir,Punch,185101,643,1091
3,01-03-2025,Bihar,Bhojpur,802158,256,980
4,01-03-2025,Tamil Nadu,Madurai,625514,271,815

## Understanding Column Meanings


### Enrolment Data Columns:
| Column | Meaning |
|--------|--------|
| `date` | When the enrolment happened |
| `state` | Which state |
| `district` | Which district |
| `pincode` | Postal code (like ZIP code) |
| `age_0_5` | Number of children aged 0-5 enrolled |
| `age_5_17` | Number of children aged 5-17 enrolled |
| `age_18_greater` | Number of adults (18+) enrolled |

### Demographic Update Columns:
| Column | Meaning |
|--------|--------|
| `demo_age_5_17` | Updates by people aged 5-17 |
| `demo_age_17_` | Updates by people aged 17+ |

### Biometric Update Columns:
| Column | Meaning |
|--------|--------|
| `bio_age_5_17` | Biometric updates by people aged 5-17 |
| `bio_age_17_` | Biometric updates by people aged 17+ |

### Check for Missing Values

In [22]:
# Check missing values in all datasets
print("ðŸ” CHECKING FOR MISSING VALUES")
print("="*60)

print("\n1âƒ£ Enrolment Data:")
print(enrolment_df.isnull().sum())

print("\n2âƒ£ Demographic Update Data:")
print(demographic_df.isnull().sum())

print("\n3âƒ£ Biometric Update Data:")
print(biometric_df.isnull().sum())

ðŸ” CHECKING FOR MISSING VALUES
============================================================

1âƒ£ Enrolment Data:
date              0
state             0
district          0
pincode           0
age_0_5           0
age_5_17          0
age_18_greater    0
dtype: int64

2âƒ£ Demographic Update Data:
date             0
state            0
district         0
pincode          0
demo_age_5_17    0
demo_age_17_     0
dtype: int64

3âƒ£ Biometric Update Data:
date            0
state           0
district        0
pincode         0
bio_age_5_17    0
bio_age_17_     0
dtype: int64

### Basic Statistics

Let's see some numbers
- How many states?
- How many districts?
- Date range?

In [23]:
# Basic statistics for ENROLMENT data
print(" ENROLMENT DATA STATISTICS")
print("="*60)
print(f" Date Range: {enrolment_df['date'].min()} to {enrolment_df['date'].max()}")
print(f"  Unique States: {enrolment_df['state'].nunique()}")
print(f"  Unique Districts: {enrolment_df['district'].nunique()}")
print(f" Unique Pincodes: {enrolment_df['pincode'].nunique()}")
print(f"\n Total Children (0-5) Enrolled: {enrolment_df['age_0_5'].sum():,}")
print(f" Total Children (5-17) Enrolled: {enrolment_df['age_5_17'].sum():,}")
print(f" Total Adults (18+) Enrolled: {enrolment_df['age_18_greater'].sum():,}")

 ENROLMENT DATA STATISTICS
============================================================
 Date Range: 01-04-2025 to 31-12-2025
  Unique States: 55
  Unique Districts: 985
 Unique Pincodes: 19463

 Total Children (0-5) Enrolled: 3,546,965
 Total Children (5-17) Enrolled: 1,720,384
 Total Adults (18+) Enrolled: 168,353

In [24]:
# Basic statistics for DEMOGRAPHIC data
print(" DEMOGRAPHIC UPDATE DATA STATISTICS")
print("="*60)
print(f" Date Range: {demographic_df['date'].min()} to {demographic_df['date'].max()}")
print(f"  Unique States: {demographic_df['state'].nunique()}")
print(f"  Unique Districts: {demographic_df['district'].nunique()}")
print(f" Unique Pincodes: {demographic_df['pincode'].nunique()}")
print(f"\n Total Updates (5-17): {demographic_df['demo_age_5_17'].sum():,}")
print(f" Total Updates (17+): {demographic_df['demo_age_17_'].sum():,}")

 DEMOGRAPHIC UPDATE DATA STATISTICS
============================================================
 Date Range: 01-03-2025 to 31-10-2025
  Unique States: 65
  Unique Districts: 983
 Unique Pincodes: 19742

 Total Updates (5-17): 4,863,424
 Total Updates (17+): 44,431,763

In [25]:
# Basic statistics for BIOMETRIC data
print(" BIOMETRIC UPDATE DATA STATISTICS")
print("="*60)
print(f" Date Range: {biometric_df['date'].min()} to {biometric_df['date'].max()}")
print(f"  Unique States: {biometric_df['state'].nunique()}")
print(f"  Unique Districts: {biometric_df['district'].nunique()}")
print(f" Unique Pincodes: {biometric_df['pincode'].nunique()}")
print(f"\n Total Updates (5-17): {biometric_df['bio_age_5_17'].sum():,}")
print(f" Total Updates (17+): {biometric_df['bio_age_17_'].sum():,}")

 BIOMETRIC UPDATE DATA STATISTICS
============================================================
 Date Range: 01-03-2025 to 31-10-2025
  Unique States: 57
  Unique Districts: 974
 Unique Pincodes: 19707

 Total Updates (5-17): 34,226,855
 Total Updates (17+): 35,536,240

## Top 10 States by Enrolment

which states have the most Aadhaar enrolments.

In [26]:
# Calculate total enrolments per state
enrolment_df['total_enrolled'] = enrolment_df['age_0_5'] + enrolment_df['age_5_17'] + enrolment_df['age_18_greater']

state_enrolment = enrolment_df.groupby('state')['total_enrolled'].sum().sort_values(ascending=False)

print(" TOP 10 STATES BY TOTAL ENROLMENT")
print("="*60)
for i, (state, count) in enumerate(state_enrolment.head(10).items(), 1):
    print(f"{i:2}. {state:25} : {count:>15,}")

 TOP 10 STATES BY TOTAL ENROLMENT
============================================================
 1. Uttar Pradesh             :       1,018,629
 2. Bihar                     :         609,585
 3. Madhya Pradesh            :         493,970
 4. West Bengal               :         375,297
 5. Maharashtra               :         369,139
 6. Rajasthan                 :         348,458
 7. Gujarat                   :         280,549
 8. Assam                     :         230,197
 9. Karnataka                 :         223,235
10. Tamil Nadu                :         220,789


### Summary of Findings:
1. We have ~5 million records across 3 datasets
2. Data covers March 2025 - October 2025
3. Data is at pincode level (very detailed!)
4. We have age-wise breakdown of enrolments and updates